@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,600&display=swap");

.logo {
  align-items: center;
  text-align: center;
  font-family: "Baloo Chettan 2", cursive;
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}
.vertical__direction {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 17px;
  transform: rotate(180deg);
  font-weight: 600;
}
.horizontal__direction {
  font-size: 38px;
  padding-left: 10px;
}
